/* ! FONTS AND COLORS AND WHATNOT HERE */


body{
    background-color: black !important;
    font-family: 'Roboto', 'Arial', sans-serif !important;
    overflow-x: hidden;
    color: white !important;
}

.subtext{
    margin-top: -2px !important;
}
body{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 200;
}
.title{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
}
.subtext{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 200 !important;
    /* color: red !important; */
}
h3{
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold !important;
}
p{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400 !important;
    font-size: large;
    /* color: red !important; */
}







/* about me section */

.img2{
    width: 50%;
}

#mobileonly{
    display: none;
}

@media only screen and (max-width: 700px) {
    #mobileonly{
        display: block;
    }
    #desktoponly{
        display: none;
    }
  }