body, html {
    height: 100%;
    color: #fff !important;

    /* arial font */
    font-family: Arial, Helvetica, sans-serif !important;
    background: url(pattern.png) no-repeat #0b0f19 !important;
    /* background-color: black !important; */
    scroll-behavior: smooth;
}

.content-wrapper {
    min-height: calc(100% - 100px); /* to adjust for the height of the footer */
}

blockquote {
    font-size: 1.5em;
    margin: 50px auto;
    color: #fff;
    padding: 1.2em 30px 1.2em 60px;
    /* border-left: 8px solid #fff; */
    line-height: 1.6;
    position: relative;
    /* background: #000; */
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #fff;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote p {
    margin: 0 0 0.2em;
    font-weight: 400;
    font-style: italic;
}

blockquote footer {
    font-size: 1.2em;
    color: #888888;
}

#bottomfooter {
    width:100%;
    padding: 40px;
    /* background-color: whitesmoke; */
    /* color: black !important; */
    /* add a top grey border that fades */
    /* background-image: linear-gradient(to top, rgb(241, 241, 241) 0%, lightgrey 86%, black 95%); */
}

/* make a links red */
#yampolskiylink {
    /* color: #8c0010 !important;  */
    /* add underline */
    text-decoration: underline;
}

a{
    color: white !important;
} 
.collapse{
    /* make the collapsible boxes dark grey background and modern and sleek */
    color: white !important;
    border-left: 2px solid #fff;
    padding : 10px;
    margin: 4px;
}


/* Base sizes */
h1 {
    font-size: 80px !important;
    font-weight: 400 !important;
    /* change the tracking / letter height to low*/
    /* letter-spacing: -0.05em !important; */
    /* change the line height to 1.1 */
    line-height: 1.1 !important;

}
h2{
    font-size: 35px !important;
    font-weight: 200 !important;
}

#herosubtext{
    margin-top: 5px;
    margin-bottom: 5px;
}
/* make the button (.btn) be a square with white background black text and  */



.vh-75 {
    min-height: 75vh !important;
}


/* BUTTONS */

.top-buttons {
    display: inline-block;
    padding: 10px 10px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 600 !important;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    color: white;
}



.btn-below{
    margin-top: 20px;
}
.btn {
    background-color: #fff !important;
    color: #000 !important;
    border-radius: 0px !important;
    border: 0px !important;
    padding: 10px 30px 5px 30px !important;
    
}
/* Mobile implementation */
@media (max-width: 768px) {
    h1{
        font-size: 60px !important;

    }
    .right {
        /* float: none; */
        display: none;
    }
}

/* Desktop implementation */
@media (min-width: 769px) {
    .right {
        float: right;
    }
}

